.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}
select{
    margin: 0;
    padding: 0;
    outline: none;
    height: 40px;
    line-height: 40px;
    width: 120px;
    color:#888;
    border:  1px solid #aaa;
    border-radius: 3px;
    display: inline-block;
    background-color: #FFF; 
    background-image: url('../../images/arrow_down.png');
    background-repeat: no-repeat;
    background-position: 95%,45%;
    -webkit-appearance: none;
}
.sb-ul{
    margin: 0;
    padding: 0;
    list-style-type:none;
}
.sb-ul li{
    border-bottom:1px dashed #868686;
}
input{
    margin: 0;
    padding: 0;
    outline: none;
    height: 40px;
    line-height: 40px;
    
}