.user_top{
    background: #999999;
    border-bottom: 1px dashed #b2b2b2;
    padding: 10px 0 10px 10px;
}
.info_content{
    padding:10px 0 10px 10px; 
}
.info_content li{
    list-style: none;
}
#coach {
    list-style:none;
}
#coach li{
    padding: 3px 3px 3px 0;
}
#coach ul li{
    line-height: 30px;

    padding: auto 10px auto 10px;
}
body{min-width:960px}
ul,li{list-style:none}
a{text-decoration:none}
.cls{zoom:1}
.cls:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.link:hover{text-decoration:underline}
hr{height:0;border-left:none;border-right:0;border-top:1px auto}
.header {border-bottom:10px solid #0b84e9;box-shadow:0 1px 1px #2fa0ff;background:#42bbc7;}
.header .top{height:60px;background:#fff}.header
.top h1{float:left;padding:6px 0 0 14px}
.header .top h1 a{display:block;width:153px;height:0;padding-top:48px;overflow:hidden;}
.header .top .nav{float:right;position:relative;margin-top:16px}
.header .top .nav li{padding:8px 6px;margin:0 10px;display:inline-block}
.header .top .nav li a{color:#999}
.header .top .nav li.current{border-bottom:1px solid #63d029}
.header .top .nav li.current a{color:#63d029}.header .top
.nav li.last{margin-right:0;padding-right:0}
.header .top .nav li.last:hover{text-decoration:underline}.header
.top .nav li.underscore{position:absolute;width:100%;left:0;bottom:0;margin:0;padding:0}
.header .top .nav li.underscore i{position:absolute;display:none;height:1px;bottom:0;background:#63d029;-webkit-transition:.5s;-moz-transition:.5s;-ms-transition:.5s;-o-transition:.5s;transition:.5s}.footer{height:120px;padding-top:18px;color:#adafba;background:#2c2f38;text-align:center}.footer
p{line-height:24px}
.ie6 .header .top .nav li,.ie7 .header .top .nav li{display:inline;zoom:1}.ie6

.header .top .nav li.underscore i{overflow:hidden}
.content{padding:50px 0;min-height:720px}.content
.wrapper{position:relative;}
.content .light{position:absolute;left:55px;top:-50px;width:152px;height:191px;}.content .light i{position:absolute;width:100%;height:100%;top:0;background:url(http://p4.qhimg.com/t01cfdd74c38452f86c.png)
                                                                                                      no-repeat top center}.content .line-left{position:absolute;left:0;top:15px;width:70px}.content
.line-right{position:absolute;right:0;top:15px;width:460px}
.content .main{background:url(http://p0.qhimg.com/d/inn/05a63fc5/line-bg.png) repeat-y 149px 0}
.content .main .title{position:absolute;line-height:40px;padding-left:67px;left:130px;top:0;color:#58a6fb;font-size:24px;background:url("../../images/clock.png")
                          no-repeat left top}
.content .main .year{position:relative;z-index:1}
.content .main .year h2{height:40px;width:270px;padding-right:30px;font-size:24px;line-height:40px;text-align:left}
.content .main .year h2 a{color:#58a6fb}
.content .main .year h2 i{display:block;position:relative;height:0;width:0;left:90px;top:-20px;border-width:6px;border-style:solid;border-color:#59a7fb
                              transparent transparent transparent;-webkit-transition:.5s;-moz-transition:.5s;-ms-transition:.5s;-o-transition:.5s;transition:.5s;-webkit-transform-origin:6px
                              3px;-moz-transform-origin:6px 3px;-ms-transform-origin:6px 3px;-o-transform-origin:6px
                              3px;transform-origin:6px 3px}
.content .main .year .list{margin:10px 0;position:relative;overflow:hidden;-webkit-transition:height
                               1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;-moz-transition:height
                               1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;-ms-transition:height
                               1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;-o-transition:height
                               1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;transition:height 1s
                               cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s}
.content .main .year .list ul{bottom:0}
.content .main .year .cls{background:url("../../images/circle.png")
                              no-repeat 135px 31px;padding:30px 0;color:#a1a4b8}
.content .main .year .list ul li .date,.content .main .year .list ul li .version{float:left;display:block;clear:left;width:100px;line-height:24px;text-align:right}.content
.main .year .list ul li .date{font-size:18px;line-height:32px;color:#000}.content
.main .year .list ul li .intro,.content .main .year .list ul li .more{float:left;display:block;width:400px;margin-left:100px;line-height:24px}.content
.main .year .list ul li .intro{font-size:18px;line-height:32px;color:#63d029}.content
.main .year .list ul li.highlight{background-image:url(http://p4.qhimg.com/d/inn/05a63fc5/circle-h.png)}.content
.main .year .list ul li.highlight .date,.content .main .year .list ul li.highlight
.intro{color:#ec6a13}.content .wrapper:first-child .main .year.close h2
i{transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg)}.content
.wrapper:first-child .main .year.close .list{opacity:0;height:0!important}.ie7
.content .main .year h2 i{left:40px}.ie6 .content .wrapper{background-image:url(http://p2.qhimg.com/d/inn/05a63fc5/release-bg-8.png)}.ie6
.content .light{display:none}.ie6 .content .line-left{width:100px}.ie6
.content .main .year h2{padding-right:0;width:200px}.ie6 .content .main
.year h2 a{cursor:default}.ie6 .content .main .year h2 i{display:none}


            .info_change{width: 700px ;margin: 10px auto;overflow: hidden; }
            .info_change hr{width: 100%; margin: 5px auto;border: 1px ;background-color: lawngreen;height: 3px !important;}
            .info_change  .base_info_change, .real_change, .mail_change, .pwd_change, .telnum_change{ width: 85%;margin: 10px auto;overflow: hidden;}
            .change_info_title p{font-size: 20px;font-weight: bold;display: inline;margin: 10px auto;overflow: hidden;}
            .info-details, .sex-info,.change_save { width: 90%; margin: 5px auto;}
            .info-details p input{float: right;display: inline;margin-right: 200px;}
            .sex-info .sex-radio{display: inline;margin-left: 180px;}
            .sex-radio span{ margin-right: 20px;}
            .important-info p{ width: 90%; margin: 5px auto;overflow: hidden;}
            .click-change{float: right; margin-right: 138px; }
            .important-info p .yanzhengma{float: right; margin-right: 195px;}
            .important-info .changetips{text-indent: 2em; color: blueviolet;}
            .save_cancel span{display: block; float: right;margin-right: 200px;}
            .save_cancel span input{ margin-right: 20px;}

            .real_content{overflow: hidden;}
            .clear{width: 754px;margin-left: 26px;}
            .real_con_step{width: 90%;margin: 0px auto;}
            .step_tips{background-color: white;color: blueviolet;}
            .step_tips .tips_title{margin: 5px auto;font-size: 20px;font-weight: bold;}
            .tips_con{color: blueviolet;text-indent: 2em;word-spacing: 1px;}
            /*-----------------------------------*/
            .step_2{overflow: hidden;width: 100%;}
            .choose-train-place{ width: 100%;overflow: hidden;}
            .current-place{width: 100%;overflow: hidden; padding-left: 20px; }
            .current-place p{display: inline; line-height: 30px; margin-top: 5px;  margin-bottom: 5px; }
            .current-place p span label{margin: 5px 30px; color: blueviolet; }
            .current-place .choose-place{color:black;margin:5px auto;}
            .choose-place p{ margin-left: 20px; }
            .choose-trainer p{display: inline; line-height: 30px; margin-top: 5px;  margin-bottom: 5px;}
            .choose-trainer p span label{ margin: 5px 30px;color: blueviolet;}
            .choose-time {width: 100%;overflow: hidden;}
            .choose_date { width: 600px; margin: 5px auto;}
            .choose_date  select{font-size: 14px; margin: 2px 20px;display: inline;line-height: 30px;}
            .choose_period{margin: 5px auto;}
            .choose_period table{ margin: 5px auto; text-align: center;}
            .choose-info table{ margin: 5px auto; text-align: center; }
            .choose-info-tips .title{ float: left;}
            .choose-info-tips p{margin: 0px auto;text-align: center;}
            .choose-info-tips label{color: blueviolet;margin: 5px auto;}

            /*------------------------------------*/
/*            .liucheng_det3{
                width: 80%;
                margin: 5px auto;
            }*/
            .liucheng_det3 .title{text-align: center; color: black; font-size: 18px; margin: 5px auto; }
            .yuyue_info table{margin: 5px auto;text-align: center;}
            .yuyue_info table td{width: 200px; }
            .yuyue_info table td p{ margin: 5px auto; }