/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-2-3, 1:03:42
    Author     : KYLE
*/
#dao_hang {
    float: left;
    width: 300px;
    /* margin-top:50px; */
    height: 500px;
    background-color:#666;
    color:white;
    text-align:center;
    border-right: 1px solid #000;
}
#dao_hang h3{
    padding: 4px;
}
#dao_hang li{
    padding: 3px;
    border-bottom: 1px solid #ffffff;
}
.real_content{
    position: relative;
    /* top: 50px; */
    position: relative;
    z-index: 1;
    padding: 10px;
    float:left;
    width: 900px;
     
    height: 500px;
    /* margin-top: 50px; */
    background-color: #fff;
    text-align:center;
}
#real_content p{
    margin:0 0px 0 0px;
    border:2px solid black;
}
#table1{
    height: auto;
    width:auto;
    border:1px solid black;
    background-color: white;
    color: black;
    border-color: black;
     border-collapse:collapse;
     
}
tr,td{
    border-bottom: 0;
    margin: 5px;
    padding: 5px;
}
.tab li {
    font-size: 20px;
    float :left;
    margin-bottom: -1px;
    margin-left: 3px;
    color:#000;
    padding:5px 20px 5px 20px;
    background-color: #fff;
    cursor: pointer;
}
.selected-li{
    font-weight:bold;
    border:1px solid #999999;
    border-top:2px solid crimson;
    border-bottom: 0;
    
    
    
}
#main_content{
    clear: both;
    border:1px solid #999999;
    background-color: #fff;
   height:500px;
}