/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-2-4, 22:17:55
    Author     : KYLE
*/
h2{
    font-size: 18px;
    text-align: left;
    color:#fff;
    margin-bottom: 10px;
    font-family:"Microsoft Yahei";
}
#background-img{
    position: absolute;
    z-index: -1;
    width:100%; 
    height:100%;
}
#loginbox{
    padding-top: 20px;
    line-height: 200%;
    text-align: center;
    float: right;
    padding-left:30px;
    padding-right: 30px;
    height: 304px;
    margin-top: 130px;
    margin-right: 200px;
    background-color: rgba(0,0,0,.4);

}
.input_cls{
    border:0;
    float: left;
    font-size: 14px;
    padding: 9px;
}
#userimg{
    width: 35px;
    display: block;
    float:left;
    text-indent: -9999em;
    background-color: #aaabab;
    border: 1px solid #aaabab;
    background-repeat:no-repeat;
    vertical-align: middle;
    text-align:center;
}
.forget{
    clear:both;
    text-align: right;
}
#submit{
    border: 0;
    display: block;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
    font-weight: 400;
    background-color: #e66e1e;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffa800),to(#e66e1e));
}
#submit:hover{
    background: -webkit-gradient(linear,left top,left bottom,from(#ffa800),to(#eddd1e));
}