/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-3-22, 15:14:46
    Author     : KYLE
*/
.ml_step_ul{
    width:100%;
    list-style: none;
    display: block;
    color: white;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}
.step_on{
    background: #3B95D3;
}
.step_off{
    background: #B1B3B2;
}
.step_img_onoff{
    background: url(../images/step.png) center 0px no-repeat;
}
.step_img_offon{
    background: url(../images/step.png) center -50px no-repeat;
}
.step_img_offoff{
    background: url(../images/step.png) center -100px no-repeat;
}
.step_end_img_off{
    background: url(../images/end_step.png) center -50px no-repeat;
}
.step_end_img_on{
    background: url(../images/end_step.png) center 0px no-repeat;
}
.ml_li{
    float:left;
    height:40px;
    line-height: 40px;
    text-align: center;
}
.ml_li_width{
    width:30%;
}
.ml_li_width2{
    width:28%;
}
.ml-table>thead>tr>th, .ml-table>tbody>tr>th, .ml-table>tfoot>tr>th, .ml-table>thead>tr>td, .ml-table>tbody>tr>td, .ml-table>tfoot>tr>td{
    line-height: 1em;
    color:black;
    font-size: 0.8em;
    vertical-align:middle;
    text-overflow:ellipsis;
    overflow: hidden;
    font-family: "Arial","宋体","Hiragino Sans GB","Simsun,sans-self","FontAwesome";
    text-align: center;
}
.ml-table-defult{
    font-size: 1.6em;
}
.item{
    background:url("../images/forbid.png" );
    cursor: no-drop;
}
.ml-cls-active{

}
.ml-cls-active-defult{
    background: #63d029 !important;
    cursor: pointer;
}
.ml-cls-active-selected{
    background: #B1B3B2 !important;
    cursor: pointer;
}
.ml-cls-active:hover{
    background: #E6C941;
}
.ml-has-selecked{
    background: #C72741 !important;
    cursor: no-drop !important;
}
.ml-has-selecked:after{
    content:"学员已预约";
    color:#fff;
}
.ml-item{
    cursor: pointer;
}
.ml-choiced{
    background: #CF6C33 !important;
}
.ml-choiced:after{
    content:"上次已选" !important;
    color:#fff !important;
}

.ml-coach-active{
    background: #CCC9C0;
}
.ml-coach-active:hover{
    background: #CCC9C0;
}
.ml-coach-active:hover{
    background: #DEDDD8;
}

.ml-coa-cls-choice{
    background: #3B95D3 !important;
}
.ml-coa-cls-choice:after{
    content:"已选";
    color:#fff;
}
.ml-coa-cls-cancel{
    background:#B8C785;
}
.ml-coa-cls-cancel:after{
    content:"已取消";
    color:#900;
}

.unbook{
    background: #A00;
    border:0px !important;
    cursor: pointer;
    color: #FFF !important;
}
.unbook:hover{
    background: #600;
}
.teach-comment{
    background: #CF6C33;
    cursor: pointer;
    border:0px !important;
    color: #FFF !important;
}
.teach-comment:hover{

    background: #C46C33;
}
.unbook_confirm{
    background: #63d029;
    cursor: pointer;
    border:0px !important;
    color: #FFF !important;
}
.unbook_confirm:hover{
    background: #00A000;
}
.unbook_end{
    background: #5c5c5c;
    cursor: no-drop;
    color: #FFF !important;
    border:0px !important;
}
.ml-loading{
    position:fixed;
    top: 0;
    right: 0;
    width:100%;
    height: 100%;
    background: url("../images/alpha50.png");
    z-index: 9999;
    display: none;
}
.ml-loading center{
    padding: 300px;
}
/**
**************我的色彩****************************************************************
**/
.ml-color-bg-main{
    background-color: #414551 !important;
}
.ml-color-bg-alert{
    background-color: #cd4f67;
    /*background-color: #c72741;*/
}
.ml-btn-normal{
    background-color: #3b95d3;
    color:#FFF;
    border-color: #3b95d3;
}
.ml-btn-normal:hover, .ml-btn-normal:focus {
color: #fff;
text-decoration: none;
}

.ml-btn-fobiden{
    background-color: #d4ddd8;
    color:#FFF;
}
.ml-btn-fobiden:hover, .ml-btn-fobiden:focus {
color: #fff;
text-decoration: none;
}
.ml-btn-danger{
    background-color: #c72741;
    color:#FFF;
}
.ml-btn-danger:hover, .ml-btn-danger:focus {
color: #fff;
text-decoration: none;
}
.ml-color-white{
    color:#FFF;
}
.ml-color-gray{
    color:#ccc;
}
.ml-color-title{
    color:#FFF7c6;
    /*color:#45bec9;*/
}
.ml-color-currency{
    color:#f69439;
    font-weight: bold;
    /* color:#e8b81a; */
    /* color:#ebbb03; */
}
.ml-comment-star-1{
    color:#f97599;
}
.ml-comment-star-2{
    color:#f74d7b;
}
.ml-comment-star-3{
    color:#f4245e;
}
.ml-comment-star-4{
    color:#e30b49;
}
.ml-comment-star-5{
    color:#f69439;
}
.ml-level-star-1{
    color:#46f070;
}
.ml-level-star-2{
    color:#1fed62;
}
.ml-level-star-3{
    color:#11d050;
}
.ml-level-star-4{
    color:#0ea941;
}
.ml-level-star-5{
    color:#0b8231;
}
.ml-color-cls-1{
    background-color:#856a57;
}
.ml-color-cls-2{
    background-color:#704849;
}
.ml-color-cls-3{
    background-color:#bf963a;
}
.ml-color-a{
    color:#4e6260;
}
.ml-color-a:hover{
    color:#9e6260;
}

