/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-3-22, 15:14:46
    Author     : KYLE
*/
.ml_step_ul{
    width:100%;
    list-style: none;
    display: block;
    color: white;

}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
.step_on{
    background: #3B95D3;
}
.step_off{
    background: #B1B3B2;
}
.step_img_onoff{
    background: url(../images/step.png) center 0px no-repeat;
}
.step_img_offon{
    background: url(../images/step.png) center -50px no-repeat;
}
.step_img_offoff{
    background: url(../images/step.png) center -100px no-repeat;
}
.ml_li{
    float:left;
    height:40px;
    line-height: 40px;
    text-align: center;
}
.ml_li_width{
    width:30%;
}
.ml-table>thead>tr>th, .ml-table>tbody>tr>th, .ml-table>tfoot>tr>th, .ml-table>thead>tr>td, .ml-table>tbody>tr>td, .ml-table>tfoot>tr>td{
    padding:1px;
    color:black;
    font-size: 8px;
    vertical-align:middle;
    text-overflow:ellipsis;
    overflow: hidden;
    font-family: "Arial","宋体","Hiragino Sans GB","Simsun,sans-self","FontAwesome";
    text-align: center;
}
.item{
    background:url("../images/forbid.png" );
    cursor: no-drop;
}
.ml-cls-active{
    background: #63d029;
    cursor: pointer;
}
.ml-cls-active:hover{
    background: #E6C941;
}
.ml-has-selecked{
    background: #C72741 !important;
    cursor: no-drop !important;
}
.ml-has-selecked:after{
    content:"学员已预约";
    color:#fff;
}
.ml-item{
    cursor: pointer;
}
.ml-choiced{
    background: #CF6C33 !important;
}
.ml-choiced:after{
    content:"上次已选" !important;
    color:#fff !important;
}

.ml-coach-active{
    background: #CCC9C0;
}
.ml-coach-active:hover{
    background: #CCC9C0;
}
.ml-coach-active:hover{
    background: #DEDDD8;
}

.ml-coa-cls-choice{
    background: #3B95D3 !important;
}
.ml-coa-cls-choice:after{
    content:"已选";
    color:#fff;
}
.ml-coa-cls-cancel{
    background:#B8C785;
}
.ml-coa-cls-cancel:after{
    content:"已取消";
    color:#900;
}


